In [163]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [164]:
#total number of unique SN's to find total players
unique_players = purchase_data["SN"].nunique()
#total number of unique items
unique_items = purchase_data["Item ID"].nunique()
#number of purchases
total_purchases = purchase_data["Purchase ID"].count()
#average price
average_price = purchase_data["Price"].mean()
#total revenue
total_revenue = purchase_data["Price"].sum()

In [165]:
#unique players df
player_count = pd.DataFrame({"Total Players": [unique_players]})
player_count

   Total Players
0            576

In [167]:
#purchasing analysis df
purchasing_analysis_total = pd.DataFrame({"Number Of Unique Items": [unique_items], "Average Price": [average_price], "Number of Purchases": [total_purchases], "Total Revenue": [total_revenue]})
purchasing_analysis_total["Average Price"] = purchasing_analysis_total["Average Price"].astype(float).map("${:,.2f}".format)
purchasing_analysis_total["Total Revenue"] = purchasing_analysis_total["Total Revenue"].astype(float).map("${:,.2f}".format)
purchasing_analysis_total

   Number Of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [186]:
#total number of males
males_only = purchase_data.loc[purchase_data["Gender"] == "Male"]
#total number of females
females_only = purchase_data.loc[purchase_data["Gender"] == "Female"]
#total number of other
other_only = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
#total number of unique males
unique_males = males_only["SN"].nunique()
#total number of unique females
unique_females= females_only["SN"].nunique()
#total number of unique other
unique_other= other_only["SN"].nunique()
#unique male percentage
male_percent = unique_males / unique_players * 100
#unique female percentage
female_percent = unique_females / unique_players * 100
#unique other percentage
other_percent = unique_other / unique_players * 100

In [187]:
#gender demographics df
gender_demographics = pd.DataFrame({"": ["Male", "Female", "Other / Non-Disclosed"], "Total Count": [unique_males, unique_females, unique_other], "Percentage of Players": [male_percent, female_percent, other_percent]})
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].astype(float).map("%{:,.2f}".format)
gender_demographics

                          Total Count Percentage of Players
0                   Male          484                %84.03
1                 Female           81                %14.06
2  Other / Non-Disclosed           11                 %1.91

In [8]:
#purchase count by gender
female_purchase_count = females_only["Purchase ID"].count()
male_purchase_count = males_only["Purchase ID"].count()
other_purchase_count = other_only["Purchase ID"].count()
#average purchase price by gender
female_average_price = females_only["Price"].mean()
male_average_price = males_only["Price"].mean()
other_average_price = other_only["Price"].mean()
#total purchase value by gender
female_total_value = females_only["Price"].sum()
male_total_value = males_only["Price"].sum()
other_total_value = other_only["Price"].sum()
#Averge purchase per unique SN by gender
female_avg_total = female_total_value / unique_females
male_avg_total = male_total_value / unique_males
other_avg_total = other_total_value / unique_other

In [117]:
#gender purchase analysis df
gender_purchase_analysis = pd.DataFrame({"Gender": ["Female", "Male", "Other / Non-Disclosed"], "Purchase Count" : [female_purchase_count, male_purchase_count, other_purchase_count]
                                        , "Average Purchase Price": [female_average_price, male_average_price, other_average_price], "Total Purchase Value":
                                        [female_total_value, male_total_value, other_total_value], "Avg Total Purchase per Person": [female_avg_total, male_avg_total, other_avg_total]})
gender_purchase_analysis

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,3.203009,361.94,4.468395
1,Male,652,3.017853,1967.64,4.065372
2,Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [28]:
#create bins and labels for age demographics
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [120]:
#pd.cut(purchase_data["Age"], bins, labels=group_labels).head()

In [122]:
#slice the data and place it into the purchase_data df
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels = group_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [162]:
#create table to group Age data into bins
age_group = purchase_data.groupby("Age Group")
#group data by unique SN's
unique_group = (age_group["SN"].nunique())
#table containing percentages per unique age group
unique_percent = (unique_group / unique_players).
unique_percent

Age Group
<10      0.029514
10-14    0.038194
15-19    0.185764
20-24    0.447917
25-29    0.133681
30-34    0.090278
35-39    0.053819
40+      0.020833
Name: SN, dtype: float64

In [160]:
#merging number and percentages of age groupsand renaming columns
age_demographics = pd.concat((unique_group.rename("Total Group"), unique_percent.rename("Percentage of Players")), axis = 1)
#cleaning up column names
age_demographics = age_demographics.reset_index().rename_axis(None, axis = 1)
age_demographics

  Age Group  Total Group  Percentage of Players
0       <10           17               0.029514
1     10-14           22               0.038194
2     15-19          107               0.185764
3     20-24          258               0.447917
4     25-29           77               0.133681
5     30-34           52               0.090278
6     35-39           31               0.053819
7       40+           12               0.020833