In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [3]:
#total number of unique SN's to find total players
unique_players = purchase_data["SN"].nunique()
#total number of unique items
unique_items = purchase_data["Item ID"].nunique()
#number of purchases
total_purchases = purchase_data["Purchase ID"].count()
#average price
average_price = purchase_data["Price"].mean()
#total revenue
total_revenue = purchase_data["Price"].sum()

In [4]:
#create unique players df
player_count = pd.DataFrame({"Total Players": [unique_players]})
#print df
player_count

   Total Players
0            576

In [5]:
#create purchase analysis by total df
purchasing_analysis_total = pd.DataFrame({"Number Of Unique Items": [unique_items], "Average Price": [average_price], "Number of Purchases": [total_purchases], "Total Revenue": [total_revenue]})
#format prices
purchasing_analysis_total["Average Price"] = purchasing_analysis_total["Average Price"].astype(float).map("${:,.2f}".format)
purchasing_analysis_total["Total Revenue"] = purchasing_analysis_total["Total Revenue"].astype(float).map("${:,.2f}".format)        
#print df
purchasing_analysis_total

   Number Of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [6]:
#total number of males
males_only = purchase_data.loc[purchase_data["Gender"] == "Male"]
#total number of females
females_only = purchase_data.loc[purchase_data["Gender"] == "Female"]
#total number of other
other_only = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
#total number of unique males
unique_males = males_only["SN"].nunique()
#total number of unique females
unique_females= females_only["SN"].nunique()
#total number of unique other
unique_other= other_only["SN"].nunique()
#unique male percentage
male_percent = unique_males / unique_players * 100
#unique female percentage
female_percent = unique_females / unique_players * 100
#unique other percentage
other_percent = unique_other / unique_players * 100

In [7]:
#create purchase demographics df
gender_demographics = pd.DataFrame({"": ["Male", "Female", "Other / Non-Disclosed"], "Total Count": [unique_males, unique_females, unique_other], "Percentage of Players": [male_percent, female_percent, other_percent]})
#format percentages
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].astype(float).map("{:,.2f}%".format)
#print df
gender_demographics

                          Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%

In [8]:
#purchase count by gender
female_purchase_count = females_only["Purchase ID"].count()
male_purchase_count = males_only["Purchase ID"].count()
other_purchase_count = other_only["Purchase ID"].count()
#average purchase price by gender
female_average_price = females_only["Price"].mean()
male_average_price = males_only["Price"].mean()
other_average_price = other_only["Price"].mean()
#total purchase value by gender
female_total_value = females_only["Price"].sum()
male_total_value = males_only["Price"].sum()
other_total_value = other_only["Price"].sum()
#Averge purchase per unique SN by gender
female_avg_total = female_total_value / unique_females
male_avg_total = male_total_value / unique_males
other_avg_total = other_total_value / unique_other

In [9]:
#create purchase analysis by gender df
purchase_analysis_gender = pd.DataFrame({"Gender": ["Female", "Male", "Other / Non-Disclosed"],
                                         "Purchase Count" : [female_purchase_count, male_purchase_count, other_purchase_count],
                                         "Average Purchase Price": [female_average_price, male_average_price, other_average_price],
                                         "Total Purchase Value":[female_total_value, male_total_value, other_total_value],
                                         "Avg Total Purchase per Person": [female_avg_total, male_avg_total, other_avg_total]})
#format prices
purchase_analysis_gender["Average Purchase Price"] = purchase_analysis_gender["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purchase_analysis_gender["Total Purchase Value"] = purchase_analysis_gender["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purchase_analysis_gender["Avg Total Purchase per Person"] = purchase_analysis_gender["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)
#print df
purchase_analysis_gender

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,"$1,967.64",$4.07
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [10]:
#create bins and labels for age demographics
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [11]:
#slice the data and place it into the purchase_data df
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels = group_labels)

In [12]:
#create table to group Age data into bins
age_group = purchase_data.groupby("Age Group")
#group data by unique SN's
unique_group = age_group["SN"].nunique()
#create table containing percentages per unique age group
unique_percent = (unique_group / unique_players)*100

In [13]:
#create age demographics df
age_demographics = pd.DataFrame({"Total Count": unique_group,
                                "Percentage of Players": unique_percent})
#rename columns
age_demographics = age_demographics.rename(columns = {"SN_x": "Total Count", "SN_y": "Percentage of Players"})
#format percent
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].astype(float).map("{:,.2f}%".format)
#print df
age_demographics

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [14]:
#count purchases per age
age_purchase_count = age_group["Price"].count()
#average of purchase price per purchase per age group
age_average_price = age_group["Price"].mean()
#sum or purchases per age group
age_total_purchase = age_group["Price"].sum()
#average purchase price per unique SN per age group
age_unique_average = age_total_purchase/ unique_group

In [15]:
#create purchaing anaylsis by age df
purchase_analysis_age = pd.DataFrame({"Purchase Count": age_purchase_count,
                          "Average Purchase Price": age_average_price,
                          "Total Purchase Value": age_total_purchase,
                          "Avg Purchase Total per Person": age_unique_average})
#format prices
purchase_analysis_age["Average Purchase Price"] = purchase_analysis_age["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purchase_analysis_age["Total Purchase Value"] = purchase_analysis_age["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purchase_analysis_age["Avg Purchase Total per Person"] = purchase_analysis_age["Avg Purchase Total per Person"].astype(float).map("${:,.2f}".format)
#print df
purchase_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [16]:
#group df by Sn
top_spenders_sn  = purchase_data.groupby(["SN"])
#count number of purchases per SN by Item ID
top_sn_count = top_spenders_sn["Item ID"].count()
#sum purchases by SN
top_sn_total = top_spenders_sn["Price"].sum()
#average purchase price per SN
top_sn_avg = (top_sn_total / top_sn_count)

In [17]:
#create top spenders df
top_spenders = pd.DataFrame({"Purchase Count": top_sn_count,
                                     "Average Purchase Price": top_sn_avg,
                                     "Total Purchase Value": top_sn_total})
#sort df by Total Purchase Value in descending order
top_spenders = top_spenders.sort_values("Total Purchase Value", ascending=False)
#format prices
top_spenders["Average Purchase Price"] = top_spenders["Average Purchase Price"].astype(float).map("${:,.2f}".format)
top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].astype(float).map("${:,.2f}".format)
#pint first 5 rows in df
top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [18]:
#group df by Item Name
pop_item_group = purchase_data.groupby(["Item Name"])
#purchase count per Item Name
pop_item_count = pop_item_group["Item ID"].count()
#total purchase price per Item Name
pop_item_total = pop_item_group["Price"].sum()
#average purchase price per Item Name
pop_item_avg = (pop_item_total / pop_item_count)

In [19]:
#create most popular item df
most_popular = pd.DataFrame({"Purchase Count": pop_item_count,
                            "Item Price": pop_item_avg,
                            "Total Purchase Value": pop_item_total})
#sort by purchase count in descending order
most_popular = most_popular.sort_values("Purchase Count", ascending=False)
#format prices
most_popular["Item Price"] = most_popular["Item Price"].astype(float).map("${:,.2f}".format)
most_popular["Total Purchase Value"] = most_popular["Total Purchase Value"].astype(float).map("${:,.2f}".format)
#print first 5 rows
most_popular.head()

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Final Critic,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
Persuasion,9,$3.22,$28.99
Nirvana,9,$4.90,$44.10
"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [35]:
#create most popular item df
most_profitable = pd.DataFrame({"Purchase Count": pop_item_count,
                            "Item Price": pop_item_avg,
                            "Total Purchase Value": pop_item_total})
#sort by purchase count in descending order
most_profitable = most_profitable.sort_values("Total Purchase Value", ascending=False)
#format prices
most_profitable["Item Price"] = most_profitable["Item Price"].astype(float).map("${:,.2f}".format)
most_profitable["Total Purchase Value"] = most_profitable["Total Purchase Value"].astype(float).map("${:,.2f}".format)

#print first 5 rows
most_profitable.head()

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Final Critic,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
Nirvana,9,$4.90,$44.10
Fiery Glass Crusader,9,$4.58,$41.22
Singed Scalpel,8,$4.35,$34.80