### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [32]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [33]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [43]:
#find the total number of unique SN's to find total players
total_players = purchase_data["SN"].nunique()
print(f"Total Players {total_players}")

Total Players {total_players}

In [46]:
#Find the total number of unque items
total_items = purchase_data["Item ID"].nunique()
print(f"Number Of Unique Items {total_items}")

Number Of Unique Items 183

In [50]:
#Find the number of purchases
total_purchases = purchase_data["Purchase ID"].count()
print(f"Number of Purchases {total_purchases}")

Number of Purchases 780

In [51]:
#Find the average price
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [52]:
#Find the total revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77