### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [124]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [125]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [126]:
#find the total number of unique SN's to find total players
total_players = purchase_data["SN"].nunique()

In [127]:
#Find the total number of unique items
total_items = purchase_data["Item ID"].nunique()

In [128]:
#Find the number of purchases
total_purchases = purchase_data["Purchase ID"].count()

In [129]:
#Find the average price
average_price = purchase_data["Price"].mean()

In [130]:
#Find the total revenue
total_revenue = purchase_data["Price"].sum()

In [137]:
purchase_data["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [134]:
pc_df = pd.DataFrame({"Total Players": [total_players]})
pc_df

   Total Players
0            576

In [132]:
pa_df = pd.DataFrame({"Number Of Unique Items": [total_items], "Average Price": [average_price], "Number of Purchases": [total_purchases], "Total Revenue": [total_revenue]})
pa_df

   Number Of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [143]:
males_only = purchase_data.loc[purchase_data["Gender"] == "Male"]
males_only

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [144]:
unique_males= males_only["SN"].nunique()
unique_males

484

In [145]:
females_only = purchase_data.loc[purchase_data["Gender"] == "Female"]
females_only

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
...,...,...,...,...,...,...,...
731,731,Eudanu84,22,Female,12,Dawne,1.02
740,740,Reunasu60,22,Female,127,"Heartseeker, Reaver of Souls",3.92
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
767,767,Ilmol66,8,Female,92,Final Critic,4.88
775,775,Aethedru70,21,Female,60,Wolf,3.54

In [146]:
unique_females= females_only["SN"].nunique()
unique_females

81

In [147]:
other_only = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
other_only

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39
237,237,Idairin51,20,Other / Non-Disclosed,16,Restored Bauble,3.55
242,242,Eodaisu60,16,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
291,291,Idairin51,20,Other / Non-Disclosed,35,Heartless Bone Dualblade,3.45
350,350,Rairith81,15,Other / Non-Disclosed,34,Retribution Axe,2.22
401,401,Lirtim36,15,Other / Non-Disclosed,46,Hopeless Ebon Dualblade,1.33
484,484,Chanosian48,35,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
549,549,Maluncil97,25,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10
629,629,Maluncil97,25,Other / Non-Disclosed,107,"Splitter, Foe Of Subtlety",2.18
637,637,Airi27,24,Other / Non-Disclosed,163,Thunderfury Scimitar,3.45
747,747,Siarithria38,38,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10

In [148]:
unique_other= other_only["SN"].nunique()
unique_other

11

In [150]:
total_gender = unique_males + unique_females + unique_other
total_gender

576

In [151]:
male_percent = unique_males / total_gender
male_percent

0.8402777777777778

In [153]:
female_percent = unique_females / total_gender
female_percent

0.140625

In [154]:
other_percent = unique_other / total_gender
other_percent

0.019097222222222224