In [94]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [95]:
#total number of unique SN's to find total players
unique_players = purchase_data["SN"].nunique()
#total number of unique items
unique_items = purchase_data["Item ID"].nunique()
#number of purchases
total_purchases = purchase_data["Purchase ID"].count()
#average price
average_price = purchase_data["Price"].mean()
#total revenue
total_revenue = purchase_data["Price"].sum()

In [96]:
#unique players df
player_count = pd.DataFrame({"Total Players": [unique_players]})
player_count

   Total Players
0            576

In [130]:
#purchasing analysis df
purchasing_analysis_total = pd.DataFrame({"Number Of Unique Items": [unique_items], "Average Price": [average_price], "Number of Purchases": [total_purchases], "Total Revenue": [total_revenue]})
#format prices
purchasing_analysis_total.style.format({"Average Price": "${:,.2f}", "Total Revenue": "${:,.2f}"})

In [98]:
#total number of males
males_only = purchase_data.loc[purchase_data["Gender"] == "Male"]
#total number of females
females_only = purchase_data.loc[purchase_data["Gender"] == "Female"]
#total number of other
other_only = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
#total number of unique males
unique_males = males_only["SN"].nunique()
#total number of unique females
unique_females= females_only["SN"].nunique()
#total number of unique other
unique_other= other_only["SN"].nunique()
#unique male percentage
male_percent = unique_males / unique_players * 100
#unique female percentage
female_percent = unique_females / unique_players * 100
#unique other percentage
other_percent = unique_other / unique_players * 100

In [127]:
#gender demographics df
gender_demographics = pd.DataFrame({"": ["Male", "Female", "Other / Non-Disclosed"], "Total Count": [unique_males, unique_females, unique_other], "Percentage of Players": [male_percent, female_percent, other_percent]})
#format percentages
gender_demographics.style.format({"Percentage of Players": "{:,.2f}%"})

In [100]:
#purchase count by gender
female_purchase_count = females_only["Purchase ID"].count()
male_purchase_count = males_only["Purchase ID"].count()
other_purchase_count = other_only["Purchase ID"].count()
#average purchase price by gender
female_average_price = females_only["Price"].mean()
male_average_price = males_only["Price"].mean()
other_average_price = other_only["Price"].mean()
#total purchase value by gender
female_total_value = females_only["Price"].sum()
male_total_value = males_only["Price"].sum()
other_total_value = other_only["Price"].sum()
#Averge purchase per unique SN by gender
female_avg_total = female_total_value / unique_females
male_avg_total = male_total_value / unique_males
other_avg_total = other_total_value / unique_other

In [125]:
#gender purchase analysis df
gender_purchase_analysis = pd.DataFrame({"Gender": ["Female", "Male", "Other / Non-Disclosed"],
                                         "Purchase Count" : [female_purchase_count, male_purchase_count, other_purchase_count],
                                         "Average Purchase Price": [female_average_price, male_average_price, other_average_price],
                                         "Total Purchase Value":[female_total_value, male_total_value, other_total_value],
                                         "Avg Total Purchase per Person": [female_avg_total, male_avg_total, other_avg_total]})
#format prices
gender_purchase_analysis.style.format({"Average Purchase Price": "${:,.2f}",
                                 "Total Purchase Value": "${:,.2f}",
                                 "Avg Total Purchase per Person": "${:,.2f}"})

In [102]:
#create bins and labels for age demographics
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [103]:
#slice the data and place it into the purchase_data df
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels = group_labels)

In [104]:
#create table to group Age data into bins
age_group = purchase_data.groupby("Age Group")
#group data by unique SN's
unique_group = age_group["SN"].nunique()
#create table containing percentages per unique age group
unique_percent = (unique_group / unique_players)*100

In [132]:
#merging number and percentages of age groups and renaming columns
age_demographics = pd.DataFrame({"Total Count": unique_group,
                                "Percentage of Players": unique_percent})
#rename columns
age_demographics = age_demographics.rename(columns = {"SN_x": "Total Count", "SN_y": "Percentage of Players"})
#format percent
#age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].astype(float).map("{:,.2f}%".format)
age_demographics.style.format({"Percentage of Players": "{:,.2f}%"})

In [120]:
#count purchases per age
age_purchase_count = age_group["Price"].count()
#average of purchase price per purchase per age group
age_average_price = age_group["Price"].mean()
#sum or purchases per age group
age_total_purchase = age_group["Price"].sum()
#average purchase price per unique SN per age group
age_unique_average = age_total_purchase/ unique_group

In [141]:
#df containing purchase analysis by age data
purchase_analysis_age = pd.DataFrame({"Purchase Count": age_purchase_count,
                          "Average Purchase Price": age_average_price,
                          "Total Purchase Value": age_total_purchase,
                          "Avg Purchase Total per Person": age_unique_average})
#format prices
purchase_analysis_age.style.format({"Average Purchase Price" : "${:,.2f}", "Total Purchase Value" : "${:,.2f}",
                                    "Avg Purchase Total per Person": "${:,.2f}"})

In [150]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [152]:
test = purchase_data["SN"].value_counts()
test

Lisosia93          5
Idastidru52        4
Iral74             4
Tyidaim51          3
Saedaiphos46       3
                  ..
Lassjaskan73       1
Lisosia66          1
Yadam35            1
Aerithriaphos46    1
Lisast98           1
Name: SN, Length: 576, dtype: int64

In [169]:
test2 = purchase_data["Price"].mean()
test2

3.050987179487176

In [164]:
testing = pd.DataFrame({"Purchase Count": test, "Price": purchase_data["Price"].count()})
testing

                 Purchase Count  Price
Lisosia93                     5    780
Idastidru52                   4    780
Iral74                        4    780
Tyidaim51                     3    780
Saedaiphos46                  3    780
...                         ...    ...
Lassjaskan73                  1    780
Lisosia66                     1    780
Yadam35                       1    780
Aerithriaphos46               1    780
Lisast98                      1    780

[576 rows x 2 columns]